/* CSS declarations go here */
[name=todoTask]{
    border:none;
    font-family: "Times New Roman";
    font-size: 100%;
    padding:0.15em;
}

:hover{
	background-color: #f9f9f9;
    cursor:pointer;
}

:focus{
	background-color: #f9f9f9;
    cursor:default;
    outline:none;
}

.checked{
    background-color:#f0f0f0;
    color:#666;
}

.checked [name=todoTask]{
    text-decoration: line-through;
}

.checked [name=todoTask],
.checked [name=todoTask]:hover,
.checked [name=todoTask]:focus{
    background-color:#f0f0f0;
}